@model WorkoutHelper.ViewModels.ExerciseProgramViewModel

@{
    ViewBag.Title = "Home";
}

<div class="col-xs-12 col-md-8">
    <div class="row" id="tile-buttons">
        <h4>Welcome to Workout Helper!</h4>
        <h4>Login to start</h4>
    </div>
</div>