@using System.Web.Mvc.Html
@{
    Layout = null;
    ViewBag.Title = "Confirm Email";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <h2>Welcome to WorkoutHelper @ViewBag.Name</h2>
    <div>
    <a href="@ViewBag.Link">Please click to confirm email</a>
    </div>
</body>
</html>